# prod
dist/
public/assets/

# dev
.yarn/
!.yarn/releases
.vscode/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf

# deps
node_modules/
frontend/node_modules/
.wrangler

# env
.env
.env.production
.dev.vars

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
client_secret_1002551477387-oq26of52gpcqreaa3f0u7u1kpdk9fkeo.apps.googleusercontent.com.json
pnpm-debug.log*
lerna-debug.log*

# misc
.DS_Store
